<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Loan Department">
	<listeners>
		<listener class-name="TestNG.Listeners" />
	</listeners>
	<test thread-count="5" name="Personal Loan">
		<parameter name="URL" value="https://www.google.co.in/" />
		<parameter name="key" value="2134578" />
		<classes>
			<class name="TestNG.Start" />
			<class name="TestNG.Start2" />
			<class name="TestNG.Start4" />
		</classes>
	</test> <!-- Test -->
	<test name="Car Loan">
		<classes>
			<class name="TestNG.Start3">
				<methods>
					<exclude name="mobile.*" />
				</methods>
			</class>
		</classes>
	</test>


</suite> <!-- Suite -->
